.taxiOrder {
    height: 200px;
    width: 400px;
    position: absolute;
    top: 0;
    left: 38px;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
}