
.controls {

    height: 35px;
    width: 500px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    font-size: 14px;
    outline: none;
    z-index: 1000;
}

/* Основные стили для body и html */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    box-sizing: border-box;
}

/* Контейнер для всего содержимого */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Стили для профиля */
.customer_profile_info {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.customer_profile_info .fullname {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.customer_profile_info .phone-number, .customer_profile_info .email {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    /*margin: 10px;*/
    font-size: 1.2em;
    color: #fff;
    background-color: #468701;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #346703;
}

.button:active {
    background-color: #244902;
}

/* Стилі для повідомлень flash */
.flash-messages {
    margin-bottom: 20px;
}

.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.flash-success-customer-profile {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.flash-error-customer-profile {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}