body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4; /* Светло-зеленый фон */
    background-size: cover; /* Масштабирует изображение, чтобы оно покрывало весь элемент */
    background-position: center; /* Центрирует изображение */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;

}

.button {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.2em;
    color: #fff;
    background-color: #468701;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #346703;
}

.button:active {
    background-color: #244902;
}