body, html {
    width: 100%;
    display: flex;
    background-color: #f4f4f4;
    flex-wrap: wrap;
    color: #444444;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.content {
    width: 80%;
    margin: 20px auto;
}

/* Стили для контейнера графиков */
.charts-container {
    display: flex;
    gap: 20px;  /* Расстояние между графиками */
    flex-wrap: wrap;  /* Если не хватает места, графики переносятся на новую строку */
}

/* Стили для секции с графиком */
.chart-section {
    flex: 1;  /* Графики занимают равное пространство */
    min-width: 400px;  /* Минимальная ширина графика */
    text-align: center;  /* Центрируем текст и кнопку */
}

/* Стили для заголовка графика */
.chart-header h2 {
    margin: 0;
    font-size: 1.5em;
}

/* Стили для кнопки "Розгорнути" */
.toggle-button {
    background-color: rgba(128, 128, 128, 0);  /* Серый с полупрозрачностью */
    color: #575757;  /* Белый текст */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: rgba(128, 128, 128, 0.07);  /* Чуть менее прозрачный при наведении */
}

/* Убираем тень и другие эффекты */
.toggle-button:focus {
    outline: none;  /* Убираем обводку при фокусе */
    box-shadow: none;  /* Убираем тень */
}

/* Стили для контейнера графика */
.chart-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

/* Стили для canvas (графиков) */
canvas {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
