<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8">
    <title>Customer Main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='checkboxes.css') }}">
</head>
<body>
<div id="menu" class="menu">
    <a href="{{ url_for('customer_main') }}">Головна</a>
    <a href="{{ url_for('customer_profile') }}">Профіль</a>
    <a href="{{ url_for('customer_rides') }}">Поїздки</a>
    <a href="{{ url_for('customer_logout') }}">Вихід</a>
</div>

<button id="menuButton" class="menu-button">☰</button>

<div id="taxiOrder" class="taxiOrder">
    <form method="POST">
        <div id="taxiOrderInfo" class="taxiOrderInfo">
            <table>
                <tr>
                    <td>
                        <fieldset class="checkbox-group">
                            <div class="checkbox-wrapper">
                                <label class="checkbox-wrapper">
                                    <input id="economy" type="radio" name="class" value="economy" class="checkbox-input" />
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">Економ</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox-wrapper">
                                <label class="checkbox-wrapper">
                                    <input id="comfort" type="radio" name="class" value="comfort" class="checkbox-input" />
                                    <span class="checkbox-tile">
                                    <span class="checkbox-label">Комфорт</span>
                                </span>
                                </label>
                            </div>
                            <div class="checkbox-wrapper">
                                <label class="checkbox-wrapper">
                                    <input id="business" type="radio" name="class" value="business" class="checkbox-input" />
                                    <span class="checkbox-tile">
                                    <span class="checkbox-label">Бізнес</span>
                                </span>
                                </label>
                            </div>
                            <div class="checkbox-wrapper">
                                <label class="checkbox-wrapper">
                                    <input id="minivan" type="radio" name="class" value="minivan" class="checkbox-input" />
                                    <span class="checkbox-tile">
                                    <span class="checkbox-label">Мінівен</span>
                                </span>
                                </label>
                            </div>
                        </fieldset>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div style="position: relative;">
                            <div id="origin-suggestions-container" class="suggestions-container"></div>
                        </div>
                        <input id="origin-input" class="controls" type="text" placeholder="Введіть адресу відправлення або виберіть на карті" required>
                        <datalist id="saved-addresses">
                            {% for address in saved_addresses %}
                                <option value="{{ address.city_name }}, {{ address.street }}, {{ address.house_number }}"></option>
                            {% endfor %}
                        </datalist>

                        <!-- Скрытые элементы для сохраненных адресов -->
                        <div id="saved-addresses-data" style="display:none">
                            {% for address in saved_addresses %}
                                <span data-address="{{ address.city_name }}, {{ address.street }}, {{ address.house_number }}"></span>
                            {% endfor %}
                        </div></td>
                </tr>
                <tr>
                    <td>
                        <div style="position: relative;">
                            <div id="destination-suggestions-container" class="suggestions-container"></div>
                        </div>
                        <input id="destination-input" class="controls" type="text" placeholder="Введіть адресу призначення або виберіть на карті" required>
                        <datalist id="saved-addresses">
                            {% for address in saved_addresses %}
                                <option value="{{ address.city_name }}, {{ address.street }}, {{ address.house_number }}"></option>
                            {% endfor %}
                        </datalist>
                    </td>
                </tr>
                <tr>
                    <td><input type="hidden" id="start_city" name="start_city_name">
                    <input type="hidden" id="start_street" name="start_street">
                    <input type="hidden" id="start_house_number" name="start_house_number"></td>
                </tr>
                <tr>
                    <td><input type="hidden" id="final_city" name="final_city_name">
                        <input type="hidden" id="final_street" name="final_street">
                        <input type="hidden" id="final_house_number" name="final_house_number"></td>
                </tr>

                <tr>
                    <td>
                        <select name="payment_type" required="required">
                        <option value="">Оберіть тип оплати</option>
                        <option value="2">Готівкою</option>
                        {% for payment in payment_methods %}
                            <option value="1">{{ payment.card_number_display }}</option>
                        {% endfor %}
                    </select></td>
                </tr>

                <tr>
                    <td><input type="submit" class="submit_btn" value="ЗАМОВИТИ"></td>
                </tr>
            </table>
        </div>
    </form>
</div>

<div id="map" style="height: 925px; width: 100%;"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGnMznxRBi8YyfdMeuFxf6VM1BGny8oLI&libraries=places&language=uk"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGnMznxRBi8YyfdMeuFxf6VM1BGny8oLI&libraries=places&language=uk&callback=initMap"></script>
<script src="{{ url_for('static', filename='menu.js') }}"></script>
<script src="{{ url_for('static', filename='main_page.js') }}"></script>
</body>
</html>
