<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ivy Taxi - Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='customer_profile_info.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>

    <div id="menu" class="menu">
        <a href="{{ url_for('customer_main') }}">Головна</a>
        <a href="{{ url_for('customer_profile') }}">Профіль</a>
        <a href="{{ url_for('customer_rides') }}">Поїздки</a>
        <a href="{{ url_for('customer_statistics') }}">Статистика</a>
        <a href="{{ url_for('customer_logout') }}">Вихід</a>
    </div>
    <button id="menuButton" class="menu-button">☰</button>

{#    {% with messages = get_flashed_messages() %}#}
{#        {% if messages %}#}
{#            <ul class=flashes>#}
{#                {% for message in messages %}#}
{#                    <li>{{ message }}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endif %}#}
{#    {% endwith %}#}
    <div class="container">
        <div class="customer_profile_info">
            <div class="fullname">{{ profile_info.name }} {{ profile_info.surname }}</div>
            <div class="phone-number">{{ profile_info.phone_number }}</div>
            <div class="email">{{ profile_info.email }}</div>
        </div>

        <div class="addresses">
            <h3>Ваші адреси:</h3>
            <ul>
                {% for customer_address in profile_info.customer_addresses %}
                    <li>{{ customer_address.address.city.city_name }}, {{ customer_address.address.street }}, {{ customer_address.address.house_number }}
                        <form method="POST" action="{{ url_for('customer_profile') }}">
                            <input type="hidden" name="address_id" value="{{ customer_address.address_id }}">
                            <input type="hidden" name="customer_id" value="{{ customer_address.customer_id }}">
                            <button type="submit">X</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
            <div id="addadr" class="addaddress">
                <form method="POST">
                    <span class="addaddressbutton">Додати адресу</span>
                    <table>
                        <tr>
                            <td><input id="origin-input" class="controls" type="text"
                                       placeholder="Виберіть адресу на мапі" required></td>
                        </tr>
                        <tr>
                            <td><input type="hidden" id="city" name="city_name">
                                <input type="hidden" id="street" name="street">
                                <input type="hidden" id="house_number" name="house_number"></td>
                        </tr>
                        <tr>
                            <td id="map" style="height: 500px; width: 500px;"></td>
                        </tr>
                        <tr>
                            <td><input class="submit_button" type="submit" value="Додати адресу"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

        <div class="payment">
            <h3>Способи оплати:</h3>
            <ul>
                {% for payment in payment_methods %}
                    <li>
                        {{ payment.card_number_display }}
                        <form method="POST" action="{{ url_for('customer_profile') }}">
                            <input type="hidden" name="payment_id" value="{{ payment.payment_id }}">
                            <button type="submit">X</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>

            <div id="addpay" class="addpayment">
                <form method="POST">
                    <span class="addpaymentbutton">Додати оплату</span>
                    <table>
                        <tr>
                            <td>Номер картки:</td>
                            <td><input type="text" name="card-number" required></td>
                        </tr>

                        <tr>
                            <td><input class="submit_button" type="submit" value="Додати оплату"></td>
                        </tr>

                    </table>
                </form>
            </div>
        </div>
    </div>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGnMznxRBi8YyfdMeuFxf6VM1BGny8oLI&libraries=places&language=uk"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGnMznxRBi8YyfdMeuFxf6VM1BGny8oLI&libraries=places&language=uk&callback=initMap"></script>
    <script src="{{ url_for('static', filename='menu.js') }}"></script>
    <script src="{{ url_for('static', filename='customer_profile_info.js') }}"></script>
    <script src="{{ url_for('static', filename='profile_map.js') }}"></script>
</body>
</html>