<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ivy Taxi - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='customer_login.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
<div class="login-container">
    <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='IvyTaxi.png') }}" alt="Ivy Taxi Logo" class="logo">
    </a>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST" class="login-form">
        <table>
            <tr>
                <td class="phone">☎️: <input type="text" name="phone-number" placeholder="0##1234567" required></td>
            </tr>
            <tr>
                <td>🔐: <input type="password" name="password" placeholder="Ваш парольчик" required></td>
            </tr>
            <tr>
                <td><a href="{{ url_for('customer_register') }}">Реєстрація</a></td>
                <td><input type="submit" value="Увійти"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>