<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8">
    <title>Customer Main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='checkboxes.css') }}">
</head>
<body>
<div id="menu" class="menu">
    <a href="{{ url_for('customer_main') }}">Головна</a>
    <a href="{{ url_for('customer_profile') }}">Профіль</a>
    <a href="{{ url_for('customer_rides') }}">Поїздки</a>
    <a href="{{ url_for('customer_logout') }}">Вихід</a>
</div>

<button id="menuButton" class="menu-button">☰</button>

<div id="taxiOrder" class="taxiOrder">
    <form method="POST">
        <div id="taxiOrderInfo" class="taxiOrderInfo">

            <table>


                <tr>
                    <td>
                        <fieldset class="checkbox-group">
                            <div class="checkbox-wrapper">
                                <label class="checkbox-wrapper">
                                    <input type="radio" name="class" class="checkbox-input" />
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">Економ</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox-wrapper">
                                <label class="checkbox-wrapper">
                                    <input type="radio" name="class" class="checkbox-input" />
                                    <span class="checkbox-tile">
                                    <span class="checkbox-label">Комфорт</span>
                                </span>
                                </label>
                            </div>
                            <div class="checkbox-wrapper">
                                <label class="checkbox-wrapper">
                                    <input type="radio" name="class" class="checkbox-input" />
                                    <span class="checkbox-tile">
                                    <span class="checkbox-label">Бізнес</span>
                                </span>
                                </label>
                            </div>
                            <div class="checkbox-wrapper">
                                <label class="checkbox-wrapper">
                                    <input type="radio" name="class" class="checkbox-input" />
                                    <span class="checkbox-tile">
                                    <span class="checkbox-label">Мінівен</span>
                                </span>
                                </label>
                            </div>
                        </fieldset>
                    </td>
                </tr>

                <tr>
                    <td><input id="origin-input" class="controls" type="text" placeholder="Введіть адресу відправлення або виберіть на карті" required></td>
                </tr>
                <tr>
                    <td><input id="destination-input" class="controls" type="text" placeholder="Введіть адресу призначення або виберіть на карті" required></td>
                </tr>
                <tr>
                    <input type="hidden" id="city" name="city_name">
                    <input type="hidden" id="street" name="street">
                    <input type="hidden" id="house_number" name="house_number">
                </tr>
                <tr>
                    <td>
                        <input id="cash" type="radio" name="payment">
                        <label for="cash">Готівка</label>

                        <input id="card" type="radio" name="payment">
                        <label for="card">Картою онлайн</label>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" class="submit_btn" value="ЗАМОВИТИ"></td>
                </tr>
            </table>
        </div>
    </form>
</div>

<div id="map" style="height: 925px; width: 100%;"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGnMznxRBi8YyfdMeuFxf6VM1BGny8oLI&libraries=places"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGnMznxRBi8YyfdMeuFxf6VM1BGny8oLI&libraries=places&callback=initMap"></script>
<script src="{{ url_for('static', filename='menu.js') }}"></script>
<script src="{{ url_for('static', filename='main_page.js') }}"></script>
</body>
</html>
