<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ivy Driver - Login</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon1.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='driver_login.css') }}">
</head>
<body>
<div class="login-container">
    <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='IvyTaxiDriver.png') }}" alt="Ivy Taxi Logo" class="logo">
    </a>

    <!-- Блок для відображення повідомлень flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    {% if category in ['success-driver-login', 'error-driver-login', 'success-driver-logout'] %}
                        <div class="flash-message flash-{{ category }}">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST" class="login-form">
        <table>
            <tr>
                <td class="phone">☎️: <input type="text" name="phone-number" placeholder="0##1234567" required></td>
            </tr>
            <tr>
                <td>🔐: <input type="password" name="password" placeholder="Ваш парольчик" required></td>
            </tr>
            <tr>
                <td><a href="{{ url_for('driver_register') }}">Реєстрація</a></td>
                <td><input type="submit" value="Увійти"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>