<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver Main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='maps.css') }}">
</head>
<body>
    <div id="menu" class="menu">
        <a href="{{ url_for('driver_main') }}">Головна</a>
        <a href="{{ url_for('driver_profile') }}">Профіль</a>
        <a href="{{ url_for('driver_logout') }}">Вихід</a>
    </div>


    <button id="menuButton" class="menu-button">☰</button>
    <script src="{{ url_for('static', filename='menu.js') }}"></script>
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d209257.5436801602!2d30.7422433690826!3d46.440052978081006!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1716544976141!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</body>
</html>