<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver Main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_page.css') }}">
</head>
<body>
    <div id="menu" class="menu">
        <a href="{{ url_for('driver_main') }}">Головна</a>
        <a href="{{ url_for('driver_profile') }}">Профіль</a>
        <a href="{{ url_for('driver_orders') }}">Замовлення</a>
        <a href="{{ url_for('driver_logout') }}">Вихід</a>
    </div>

    <button id="menuButton" class="menu-button">☰</button>

    <div id="map" style="height: 925px; width: 100%;"></div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGnMznxRBi8YyfdMeuFxf6VM1BGny8oLI&callback=initMap"></script>
    <script src="{{ url_for('static', filename='menu.js') }}"></script>
    <script src="{{ url_for('static', filename='main_page.js') }}"></script>

</body>
</html>