<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ivy Driver - Register</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon1.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='driver_register.css') }}">
</head>
<body>
<div class="register-container">
    <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='IvyTaxiDriver.png') }}" alt="Ivy Taxi Logo" class="logo">
    </a>

    <form method="POST" class="register-form">
        <table>
            <tr>
                <td>📛: <input type="text" name="name" required="required" placeholder="Ваше ім'я"></td>
            </tr>
            <tr>
                <td>👪: <input type="text" name="surname" required="required" placeholder="Ваше прізвище"></td>
            </tr>
            <tr>
                <td>🏳️: <select name="country" required="required">
                    <option value="">Виберіть країну</option>
                    <option value="1">Україна</option>
                                        </select></td>
            </tr>
            <tr>
                <td>☎️: <input type="text" name="phone-number" required="required" placeholder="0##1234567"></td>
            </tr>
            <tr>
                <td>📆: <input type="date" name="date-of-birth" required="required" placeholder="Ваша дата народження"></td>
            </tr>
            <tr>
                <td>🙂: <select name="sex" required="required">
                    <option value="">Виберіть стать</option>
                    <option value="Male">Чоловіча</option>
                    <option value="Woman">Жіноча</option>
                </select></td>
            </tr>
            <tr>
                <td>📧: <input type="text" name="email" required="required" placeholder="email@email.com"></td>
            </tr>
            <tr>
                <td>📝: <input type="text" name="drivers-license-number" required="required" placeholder="Ваш номер водійського"></td>
            </tr>
            <tr>
                <td>🔖: <input type="text" name="passport-id" required="required" placeholder="Ваш номер паспорту"></td>
            </tr>
            <tr>
                <td>🔐: <input type="password" name="password" required="required" placeholder="Ваш парольчик"></td>
            </tr>
            <tr>
                <td>👀: <input type="password" name="password2" required="required" placeholder="Повторіть парольчик"></td>
            </tr>
            <tr>
                <td><a href="{{ url_for('driver_login') }}">Увійти</a></td>
                <td><input type="submit" value="Зареєструватися"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>